extends layout

block content 
  #mainContent.homePage
    h2 This is the best electronics store
    div
      #category 
        a(href="home/categories/") See categories 
      #manufacturer
        a(href="home/manufacturers/") See manufacturers 
    