doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Electronics Store
    
    block content

    footer 
      a(href="https://github.com/Falsin") Made by Falsin
